@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #187CB7;
    --secondaryColor: #4abffa;
    --darbkColor: #000000;
    --whiteColor: #FFFFFF;
    --primaryFont: "Montserrat Alternates", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--primaryFont) !important;
  color: var(--primaryColor) !important;
}

.active {
    color: var(--secondaryColor) !important;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary{
    color: var(--primaryColor) !important;
    color: var(--whiteColor) !important;
    font-weight: normal !important;
}
